<!--<h4>Search Criteria:
  <ng-container *ngFor="let criteria of searchCriterias; let i = index;">
    “{{criteria}}”<span *ngIf="i < searchCriterias.length-1">,</span>
  </ng-container>
</h4>
<div class="table-wrapper table-responsive table-container">
    <mat-table mat-table [dataSource]="dataSource" class="table-searchRecord">
      <ng-container *ngFor="let dcol of displayedColumns; let i = index">
        <ng-container matColumnDef={{dcol}}>
          <th mat-header-cell *matHeaderCellDef>{{displayedColumns[i]}}-{{displayedColumnsName[i]}}</th>
          <td mat-cell *matCellDef="let searchrecord"> {{searchrecord[displayedColumnsName[i]]}} </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[3,6,9]" showFirstLastButtons></mat-paginator>

</div>-->
<!-- modal in agent assignment -->
<div class="modal fade " id="btnMsgModal" tabindex="-1" role="dialog" aria-labelledby="btnMsgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="btnMsgModalLabel">{{popUpMsg}}</h4>
      </div>
      <div class="modal-body clearfix">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default table-btn btn-ok" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- modal in agent assignment -->
<div class="div-searchRecord">
  <h4>Search Criteria:
    <ng-container *ngFor="let criteria of searchCriterias; let i = index;">
      <span *ngIf="criteria">“{{criteria}}”
        <span *ngIf="i < searchCriterias.length-1 && criteria">,</span>
      </span>
    </ng-container>
    <span class="span-noOfCustomer">Table No. Of Customers: {{noOfCustomer}}</span>
  </h4>
  <div class="table-wrapper table-responsive div-searchRecordDataTable">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-searchRecord">
      <thead>
        <tr class="row1 tr-row1">
            <th class="noscroll" rowspan="2">Class</th>
            <th class="noscroll" rowspan="2">Policy No.</th>
            <th class="noscroll" rowspan="2">Prulife Pol. No.</th>
            <th class="noscroll" rowspan="2">Name of the Applicant</th>
            <th class="noscroll" rowspan="2">ID Card No</th>
            <th rowspan="2">Opt Out customer(GI)</th>
            <th rowspan="2">Opt Out customer(Life)</th>
            <th colspan="3" class="th-textCenter">Current Agent</th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="5" class="th-textCenter">Assign Agent</th>
            <th rowspan="2">PruChat,Email Send Date(to agent)</th>
            <th rowspan="2" colspan="1" style="width:1000px">SMS,Email Send Date(to customer)/ View Customer Email</th>
        </tr>
        <tr class="row2 tr-row2">
            <th class="table-subtitle">Agent Name</th>
            <th class="table-subtitle">Agent Code</th>
            <th class="table-subtitle">Agent Phone</th>
            <th>Date of Submission</th>
            <th>Campaign Code</th>
            <th>Assignment Type</th>
            <th class="table-subtitle">Agency Team Name</th>
            <th class="table-subtitle">Agency Code</th>
            <th class="table-subtitle">Agency Name</th>
            <th class="table-subtitle">Agency Phone</th>
            <th class="table-subtitle">Agent Assigned Date</th>
        </tr>
      </thead>
    </table>
    <div class="div-goToPage-showPerPage">
      <div class="div-goToPage">
        <span class="span-goToPage">Go to page</span>
        <div class="div-goToPage_wrapper">
          <input type="text" class="input-goToPage_left" [(ngModel)]="currPage" value="{{currPage}}"/>
          <input type="text" class="input-goToPage_right" value="/ {{noOfPage}}" disabled/>
          <input class="button-goToPage_go" value="GO" type="button" (click)="changeCurrTablePage(currPage)"/>
        </div>
      </div>
      <ul class="ul-showPerPage">
        <span>show</span>
        <li><a [ngClass]="mapToLengthMenuNum[5]" (click)="changeTablePerPage(5)">5</a></li>
        <li><a [ngClass]="mapToLengthMenuNum[10]" (click)="changeTablePerPage(10)">10</a></li>
        <li><a [ngClass]="mapToLengthMenuNum[20]" (click)="changeTablePerPage(20)">20</a></li>
        <span>per page</span>
      </ul>
    </div>
  </div>
</div>
