.div-searchRecord{

  .span-noOfCustomer, .span-noOfRenewals{
    float:right;
  }
  .dataTables_wrapper{
    .dataTables_info{
      display: none;
    }
  }
  .div-searchRecordDataTable{
    text-align: center;

    .table-searchRecord{
      //width:100% !important;
      margin: 0px;
      .th-textCenter{
      }
      //this one is to overwrite the triangle symbol as completely
      // disabling the ordering of the datatable is seemingly impossible
      .sorting_asc, .sorting_desc{
        background-image: none;
      }

    }
  }
  .div-goToPage-showPerPage{
    display: -webkit-box;
    position: relative;
    .div-goToPage{
      display: flex;
      position: relative;
      left: 38%;
      // transform: translate(-50%,10px);
      .span-goToPage{
        line-height: 50px;
        color:gray;
      }
      .div-goToPage_wrapper{
        display:inline-block;
        .input-goToPage_left{
          margin-left: 10px;
          border-radius: 10px 0px 0px 10px;
          border-right: 0px;
          text-align: right;
          color:gray;
        }
        .input-goToPage_right{
          position:relative;
          left:-10px;
          color:gray;
          border-left: 0px;
          border-radius: 0px;
        }
        input {
          width: 80px;
          background-color:transparent;
        }
        .button-goToPage_go{
          position:relative;
          left:-12px;
          border-radius: 0px 10px 10px 0px;
          background-color: rgb(200,200,200);
          color:black;
        }
      }
    }
    .ul-showPerPage{
      list-style: none !important;
      display: flex;
      position: absolute;
      top: -26px;
      right: 0px;
      float: right;
      li{
        margin: 0px 10px;
      }
      .inactive-gray{
        color:gray;
      }
      .active-red{
        color:red;
      }
    }
  }
}
