<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-12 footer-title">EAS</div>
            <div class="footer-link">
                <a href="#">Disclaimer and Intellectual Property Rights</a>
                <a href="#">Security Policy</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

<div id="back-to-top"><i class="fa fa-long-arrow-up"></i></div>
