<app-globalheader></app-globalheader>

<div id="page-container">

  <app-leftsidebar
    [username]="username"
    [usercode]="usercode"
  ></app-leftsidebar>
  <router-outlet></router-outlet>
</div>
<app-loader></app-loader>
<app-globalfooter></app-globalfooter>
