<!-- modal in customer details -->
<div class="modal fade " id="customerDetailModal" tabindex="-1" role="dialog" aria-labelledby="customerDetailModalLabel">
  <form [formGroup]="customerDetailModalForm" class="customerDetailModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.CUSTOMER_DTL.CUSTOMER_NAME' | translate}}: {{currCustomerName}}</label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.CUSTOMER_DTL.PHONE' | translate}}: {{currPhone}}</label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.CUSTOMER_DTL.EMAIL' | translate}}: {{currEmail}}</label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.CUSTOMER_DTL.ASSIGNMENT_DT' | translate}}: {{currAssignmentDt | date:'dd/MM/yyyy hh:mm'}}</label><br />
          <label class="col-12 label-fromField"><span>{{'AGENT_INTERFACE.CUSTOMER_DTL.FIRST_CONTACT_DT' | translate}}:</span>
            <ng-container *ngIf="currFirstContactDt">
              {{customerDetailModalForm.controls['firstContactDt'].value | date:'dd/MM/yyyy'}}
            </ng-container>
            <ng-container *ngIf="!currFirstContactDt">
              <input placeholder="DD/MM/YYYY" class="search-by-input"
              matInput [max]="maxDateFrom" [matDatepicker]="firstContactDtPicker"
              formControlName="firstContactDt" name="firstContactDtField">

              <mat-datepicker-toggle matSuffix [for]="firstContactDtPicker">
                <mat-icon matDatepickerToggleIcon>apps</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #firstContactDtPicker></mat-datepicker>
            </ng-container>
          </label>
        </div>
        <div class="modal-footer">
          <button [disabled]="currFirstContactDt"
            type="submit" class="btn btn-primary table-btn a-customerDtlSubmitBtn" data-dismiss="modal">{{'AGENT_INTERFACE.CUSTOMER_DTL.SUBMIT' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- modal in lead extension application -->
<div class="modal fade " id="leadExtensionModal" tabindex="-1" role="dialog" aria-labelledby="leadExtensionModalLabel">
  <form [formGroup]="leadExtensionModalForm" class="leadExtensionModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.REASON_OF_EXT' | translate}}:
            <span *ngIf="currAssignmentStatus == '2'">{{currReasonOfExt}}</span>
            <input *ngIf="currAssignmentStatus != '2'" placeholder="Please state reasons here." class="search-by-input"
            formControlName="reasonOfExt" name="reasonOfExtField">

          </label><br />

          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.APP_REVIEW_DESC' | translate}}
              <button [disabled]="currAssignmentStatus == '2'" type="submit" class="btn btn-primary table-btn a-leadExtSubmitBtn" data-dismiss="modal">
                {{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.SUBMIT' | translate}}</button>
          </label><br />

          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.APPLICATION_EXT' | translate}}:
            <span *ngIf="currApplicationExt == 2" class="span-blue">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.TO_BE_REVIEWED' | translate}}</span>
            <span *ngIf="currApplicationExt == 3" class="span-green">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.APPROVED' | translate}}</span>
            <span *ngIf="currApplicationExt == 4" class="span-red">{{'AGENT_INTERFACE.LEAD_EXT_APPLICATION.REJECTED' | translate}}</span>
          </label>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </form>
</div>
<!-- modal in upsell details -->
<div class="modal fade " id="upsellDetailModal" tabindex="-1" role="dialog" aria-labelledby="upsellDetailModalLabel">
  <form [formGroup]="upsellDetailModalForm" class="upsellDetailModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.UPSELL_DTL.CUSTOMER_NAME' | translate}}: {{currCustomerName}}</label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.UPSELL_DTL.LIFE_POL_NO' | translate}}:
            <input placeholder="Please Input Pol No." class="search-by-input"
            formControlName="upsellLifePolNo" name="upsellLifePolNoField">
          </label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.UPSELL_DTL.LIFE_PROD' | translate}}:
            <input placeholder="Please Input Product Name" class="search-by-input"
            formControlName="upsellLifeProd" name="upsellLifeProdField">
          </label><br />
          <label class="col-12 label-fromField">{{'AGENT_INTERFACE.UPSELL_DTL.AFYP' | translate}}:
            <input placeholder="Please Input AFYP" class="search-by-input"
            formControlName="afyp" name="afypField">
          </label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary table-btn a-upsellDtlSubmitBtn" data-dismiss="modal">{{'AGENT_INTERFACE.UPSELL_DTL.SUBMIT' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="table-wrapper table-responsive div-agentInterfaceDataTable">
  <h4 class="h4-tableHeader">{{'AGENT_INTERFACE.TABLE_TITLE' | translate}}</h4>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-agentInterface">
    <thead>
      <tr class="row1">
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.CUSTOMER_NAME' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.PHONE' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.EMAIL' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.SUBMISSION_DT' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.PROD' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.ASSIGNMENT_DT' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.FIRST_CONTACT_DT' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.ASSIGNMENT_STATUS' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.APPLICATION_EXT' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.CS_REMARKS' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.LIFE_POL_NO' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.LIFE_PROD' | translate}}</th>
        <th class="noscroll">{{'AGENT_AO_INTERFACE_COLS.AFYP' | translate}}</th>
      </tr>
    </thead>
  </table>
  <div class="div-goToPage-showPerPage">
    <div class="div-goToPage">
      <span class="span-goToPage">{{'DATATABLE_CONSTANTS.GO_TO_PAGE' | translate}}</span>
      <div class="div-goToPage_wrapper">
        <input type="text" class="input-goToPage_left" [(ngModel)]="currPage" value="{{currPage}}"/>
        <input type="text" class="input-goToPage_right" value="/ {{noOfPage}}" disabled/>
        <input class="button-goToPage_go" value="GO" type="button" (click)="changeCurrTablePage(currPage)"/>
      </div>
    </div>
    <ul class="ul-showPerPage">
      <span>{{'DATATABLE_CONSTANTS.SHOW' | translate}}</span>
      <li><a [ngClass]="mapToLengthMenuNum[5]" (click)="changeTablePerPage(5)">5</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[10]" (click)="changeTablePerPage(10)">10</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[20]" (click)="changeTablePerPage(20)">20</a></li>
      <span>{{'DATATABLE_CONSTANTS.PER_PAGE' | translate}}</span>
    </ul>
  </div>
</div>
