<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let dcols of displayedColumns; let i = index;">
        <ng-container matColumnDef={{dcols}}>
          <th mat-header-cell *matHeaderCellDef>{{displayedColNames[i]}}</th>
          <td mat-cell *matCellDef="let pddcampaigntransaction"> {{pddcampaigntransaction[dcols]}} </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
