.div-searchCriteria{
  .div-dateOfSubmissionWrapper{
    margin-bottom: 10px;
    .span-dateOfSubmissionFrom{
      margin-bottom: 10px;

    }
    .span-dateOfSubmissionTo{
      position: relative;
      left: -20px;
    }
  }
  .btn-search, .btn-reset{
    padding: 6px !important;
  }
  input{
    line-height: 10px;
    height:40px !important;
    border-color:#cccccc;
  }
  .div-dateOfSubmissionFrom, .div-dateOfSubmissionTo{
    position:relative;

    .input-dateOfSubmissionBtn{
      position: absolute;
      top: 0px;
      right: 0px;
      background: transparent;
      width: 100%;
    }

    .mat-icon.material-icons{
      color:red;
    }

    .input-dateOfSubmission{
      width: 230px;
      line-height: 10px;
    }
  }
}
