<div class="row div-searchCriteria"><div class="col-md-12">
    <div class="panel">
        <div class="panel-body slide-body">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title" data-toggle="collapse" data-parent="#accordioninpanel" href="#my-policy-diary">
                              <h4>Input your Search Criteria(s)</h4>
                            </a>
                            <div id="my-policy-diary" class="collapse in" style="">
                                <div class="accordion-body">
                                  <div *ngIf="currSubPage == 'easAgentDetail'">
                                      <form [formGroup]="searchForm" method="POST" (ngSubmit)="onSubmitSearchCriteria()">
                                          <div>
                                              <div class="search-by-col-wrap">
                                                  <div class="search-by-col">
                                                      <div>
                                                          <label>Agent Code</label>
                                                          <input formControlName="agentCode" name="agentCodeField" class="search-by-input" type="text">
                                                      </div>
                                                      <div>
                                                          <label>Agent Phone</label>
                                                          <input formControlName="agentPhone" name="agentPhoneField" class="search-by-input" type="text">
                                                      </div>
                                                      <div>
                                                          <label>Agent Name</label>
                                                          <input formControlName="agentName" name="agentNameField" class="search-by-input" type="text">
                                                      </div>
                                                  </div>

                                                  <div class="clearfix"></div>
                                              </div>
                                          </div>

                                          <div class="text-left">
                                              <input type="submit" class="btn btn-primary table-btn" value="Search">
                                              <input type="reset" class="btn btn-default table-btn" value="Reset">
                                          </div>
                                      </form>
                                    </div>
                                    <div *ngIf="currSubPage=='easAgentAssignCS'||currSubPage=='easAgentAssignGI'">
                                      <form [formGroup]="searchForm" method="POST" (ngSubmit)="onSubmitSearchCriteria()">
                                        <div>
                                            <div class="search-by-col-wrap">
                                                <div class="search-by-col">
                                                    <div>
                                                        <label>Full Name</label>
                                                        <input formControlName="fullName" name="fullNameField" class="search-by-input" type="text">
                                                    </div>
                                                    <div>
                                                        <label>Policy No.</label>
                                                        <input formControlName="policyNo" name="policyNoField" class="search-by-input" type="text">
                                                    </div>
                                                </div>
                                                <div class="search-by-col">
                                                    <div>
                                                        <label>Mobile No.</label>
                                                        <input formControlName="mobileNo" name="mobileNoField" class="search-by-input" type="text">
                                                    </div>
                                                    <div>
                                                        <label>Email Address</label>
                                                        <input formControlName="emailAddr" name="emailAddrField" class="search-by-input" type="email">
                                                    </div>
                                                    <div>
                                                        <label>ID Card No.</label>
                                                        <input formControlName="idCardNo" name="idCardnoField" class="search-by-input" type="text">
                                                    </div>
                                                </div>
                                                <div class="search-by-col div-dateOfSubmissionWrapper">
                                                    <div> <span class="span-dateOfSubmissionFrom">Date of Submission From</span>
                                                        <div class="div-dateOfSubmissionFrom">
                                                            <input readonly class="input-dateOfSubmission" (dateChange)="dateOfSubmissionChange($event, 0)" matInput [max]="maxDateFrom" [matDatepicker]="dateOfSubmissionFromPicker" formControlName="dateOfSubmissionFrom" name="dateOfSubmissionFromField" placeholder="DD/MM/YYYY">
                                                            <mat-datepicker-toggle matSuffix [for]="dateOfSubmissionFromPicker">
                                                              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #dateOfSubmissionFromPicker></mat-datepicker>
                                                        </div>
                                                    </div>
                                                    <span class="span-dateOfSubmissionTo">To</span>
                                                    <div>
                                                      <div class="div-dateOfSubmissionTo">
                                                        <input readonly class="input-dateOfSubmission" (dateChange)="dateOfSubmissionChange($event, 1)" matInput [min]="minDateTo" [matDatepicker]="dateOfSubmissionToPicker" formControlName="dateOfSubmissionTo" name="dateOfSubmissionToField" placeholder="DD/MM/YYYY">
                                                        <mat-datepicker-toggle matSuffix [for]="dateOfSubmissionToPicker">
                                                          <mat-icon matDatepickerToggleIcon>apps</mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #dateOfSubmissionToPicker></mat-datepicker>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="search-by-col">
                                                    <div>
                                                        <label>Assignment</label>
                                                        <div class="dropdown-redarrow search-by-dropdown">
                                                            <select formControlName="assignmentOption" name="assignmentOptionField">
                                                                <option value=""></option>
                                                                <option value="A">Assign</option>
                                                                <option value="AA">Auto Assigned</option>
                                                                <option value="R">Re-assign</option>
                                                            </select>
                                                            <div class="select-selected"></div>
                                                            <div class="select-items select-hide"><!--same-as-selected-->
                                                              <div></div>
                                                              <div>Assign</div>
                                                              <div>Auto Assigned</div>
                                                              <div>Re-assign</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                        <div class="text-left">
                                            <input type="submit" class="btn-search btn btn-primary table-btn" value="Search">
                                            <input type="reset" class="btn-reset btn btn-default table-btn" value="Reset">
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
