<div id="page-content">
  <div id='wrap'>
    <div class="container">
      <div class="row">
        <div id="page-heading">
          <ol class="breadcrumb">
            <li [ngClass]="currSubPage=='home' ? 'active' : ''">
              <a href="javascript:;">Home</a>
            </li>
            <li *ngIf="currSubPage=='easAgentAssignGI' || currSubPage =='easAgentAssignCS' ||
                       currSubPage=='easAgentDetail' || currSubPage == 'easCampaignDetail' ||
                       currSubPage=='easViewEmail'"
                [ngClass]="currSubPage=='easAgentAssignGI' || currSubPage=='easAgentAssignCS' ? 'active' : ''">
              <a routerLink="/{{agentassignmentService.currServiceName}}" (click)="changeCurrSubPage(agentassignmentService.currServiceName)">Agent Assignment</a>
            </li>
            <li *ngIf="currSubPage=='easAgentDetail'" [ngClass]="currSubPage=='easAgentDetail' ? 'active' : ''">
              <a>Agent Details</a>
            </li>
            <li *ngIf="currSubPage=='easCampaignDetail'" [ngClass]="currSubPage=='easCampaignDetail' ? 'active' : ''">
              <a>Campaign Details</a>
            </li>
            <li *ngIf="currSubPage=='easViewEmail'" [ngClass]="currSubPage=='easViewEmail' ? 'active' : ''">
              <a>View Email</a>
            </li>
          </ol>
        </div>
      </div>
      <app-searchcriteria
        *ngIf="currSubPage == 'easAgentAssignGI' || currSubPage == 'easAgentAssignCS' || currSubPage == 'easAgentDetail'"
        [currSubPage]="currSubPage"
      >
      </app-searchcriteria>
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 clearfix">
                  <app-searchrecord
                    *ngIf="currSubPage == 'easAgentAssignGI' || currSubPage == 'easAgentAssignCS'"
                    [setPopUpMsg]="setPopUpMsg"
                    [popUpMsg]="popUpMsg"
                    >
                  </app-searchrecord>
                  <app-detailssearchrecord
                    *ngIf="currSubPage == 'easAgentDetail'"
                    [gobackRouteLink]="agentassignmentService.currServiceName"
                    >
                  </app-detailssearchrecord>
                  <app-campaigndetails
                    *ngIf="currSubPage == 'easCampaignDetail'"
                    [gobackRouteLink]="agentassignmentService.currServiceName"
                    [campaignDetailObj]="campaignDetailObj"
                    >
                  </app-campaigndetails>
                  <app-viewemail
                    *ngIf="currSubPage == 'easViewEmail'"
                    [gobackRouteLink]="agentassignmentService.currServiceName"
                    >
                  </app-viewemail>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- container -->
  </div> <!--wrap -->
</div> <!-- page-content -->
