<div class="row"><div class="col-md-12">
    <div class="panel">
        <div class="panel-body slide-body">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div id="accordioninpanel" class="accordion-group clearfix">
                        <div class="accordion-item col-lg-12 col-md-12">
                            <a><h4 class="h4-campaignDetails">Campaign Details</h4></a>
                            <div id="my-policy-diary" class="clearfix">
                                <div class="client-detail compaign-detail">
                                    <div class="col-lg-6 col-md-6 detail-box">
                                        <div *ngIf="campaignCode" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6 ">Campaign Code</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6 ">{{campaignCode}}</div>
                                        </div>
                                        <div *ngIf="startDate" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Campaign Start Date</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{startDate | date:'MM/dd/yyyy'}}</div>
                                        </div>
                                        <div *ngIf="endDate" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6 ">Campaign End Date</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6 ">{{endDate | date: 'MM/dd/yyyy'}}</div>
                                        </div>
                                        <div *ngIf="premiumFromAM && amEntitled" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Premium Percent Off</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">HK${{premiumFromAM}} = {{amEntitled}} Mile</div>
                                        </div>
                                        <div *ngIf="genericCode" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Generic Code</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{genericCode}}</div>
                                        </div>
                                        <div *ngIf="promoPool" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Promotion Code Pool</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{promoPool}}</div>
                                        </div>
                                        <div *ngIf="promoUnit" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Promotion Code Unit</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{promoUnit}}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 detail-box">
                                        <div *ngIf="partnerCode" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Partner Code</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{partnerCode}}</div>
                                        </div>
                                        <div *ngIf="partnerName" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6 ">Partner Name</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{partnerName}}</div>
                                        </div>
                                        <div *ngIf="prodSubType" class="row">
                                            <div class="col-lg-6 col-md-6 col-xs-6">Product Subtype</div>
                                            <div class="col-lg-6 col-md-6 col-xs-6">{{prodSubType}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="promoUsage" class="accordion-item col-lg-6 col-md-6">
                            <a><h4 class="h4-promoCodeUsage">Promotion Code Usage</h4></a>
                            <div id="my-policy-diary" class="clearfix">
                                <div class="client-detail">
                                    <div class="col-lg-12 detail-box">
                                        <p>{{promoUsage}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="remarks" class="accordion-item col-lg-12 col-md-12 col-xs-12">
                            <h4 class="h4-remarks">Remarks</h4>
                            <div class="col-md-6" id="remarkDiv">
                              {{remarks}}
                            </div>
                        </div>
                    </div>

                    <div class="button-box clearfix">
                        <input routerLink="/{{gobackRouteLink}}" type="submit" class=" btn btn-default table-btn float-left all-btn" value="Back">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div></div>
